
/**************************************************
Home Page
**************************************************/
body{

  background-color: $secondary-color;
}

h1, h2, h3, h4{
  text-align: center;
  @include sm{
    font-size: 1.2em;
  }
  @include md{
    font-size: 1.4em;
  }
  @include lg{
    font-size: 1.6em;
  }
}

p, a{
  @include sm{
    font-size: 1.2em;
  }
  @include md{
    font-size: 1.4em;
  }
  @include lg{
    font-size: 1.6em;
  }
}


#home-header{
  height: 90vh;
  display: block;
  background: url(../img/nails.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  div{
    h1{
      margin-top: 1.5em;
      color: $secondary-color;
      @include sm{
        font-size: 1.5em;
      }
      @include md{
        font-size: 2em;
      }
    }
  }

}

.home-button{
  padding-top: 11em;
  border-right: 1px solid rgba(255,255,255, .4);
  background-color: inherit;

  @include md{
    padding-top: 10em;
  }
  #phone-icon{
    width: 20px;
    margin-right: .5em;
    margin-bottom: -7px;
    background: rgba(255,255,255,.3);
    padding: 6px;
    border-radius: 50%;
  }
  a{
    font-size: 1.7em;
    background-color: $acent-color-two;

  }
}


/**********************
Hours of Operation
***********************/

#hours{
  display: block;
  padding-top: 2em;
  padding-bottom: 5em;
  background-color: $acent-color-two;
  color: $white;
  @include md {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    //justify-content: center;

  }

  h2{
    padding-bottom: 1em;
    @include md{
      padding-top: 0;
    }
  }

  ul{
    display: block;
    margin-left: 0;
    list-style: none;

    li{
      margin-top: .5em;
    }

  }
}






#services{
  background-color: $secondary-color;

  .service-container{
    @include sm{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include lg{
      justify-content: flex-start;
    }
  }

  .service-add-on{
    border: solid 1px $light-primary-color;
    @include sm{
      width:49.65%;
      font-size: .85em;
    }
    @include md {
      width: 33.07%;
    }
    @include lg {
      width:19.77%;
    }
  }

  img{
    display: block;
    margin: 0 auto;
    margin-top: 3em;
    width: 70px;
    @include md{
      margin-top: 1em;
    }
  }
  .service-offered{
    p{
      font-size: 1em;
      margin-left: 2em;
      margin-right: 2em;
      margin-bottom: 0;
    }
    .price{
      font-size: 1.1em;
      color: $dark-primary-color;
      text-align: right;
      margin-top: 1em;
      margin-left: 4em;
      margin-bottom: 4em;
      @include md {
        margin-bottom: 1em;
      }
    }
    .extra-price{
      font-size: .8em;
      margin-bottom: 4em;
      color: $light-primary-color;
      @include md {
        margin-bottom: 1em;
      }
    }
  }
  #nail-repairs{
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 8em;
    padding-bottom: 8em;
    text-align: center;
    font-size: 2em;
    color: $white;
    background-color: $primary-color;
    @include sm {
      height: 100%;
      font-size: 2em;
      padding: 0;
    }
    @include lg{
      width: 100vw;
      margin-top:-5px;
      padding-top: 2em;
      margin-bottom: 2em;
    }
  }


  span{
    display: block;
    font-size: 3em;
    font-weight: 700;
  }
}




/**********************
Work Gallery
***********************/

#work{
  text-align: center;

  header{
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: $acent-color-two;
    color: $white;
  }

  .img-wrap{
    img{
      display: block;
      width:100%;


      @include md{
        width: 50%;
      }

      @include lg{
        width: 25%;
      }
    }
    @include md {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @include md {
    .button-container{
      a{
        font-size: 1.3em;
      }
    }
  }
}






#directions{
  background-color: $secondary-color;

  h2{
    padding-bottom: 1em;

    @include lg{
    }
  }

  #address-container{
    padding-bottom: 3em;

    #phone-number-container{
      img{
        margin-left:25%;
        width: 20px;
      }
    }

    .button-container{
      padding-top: 2em;
      background-color: $secondary-color;
      img{
        width: 25px;
      }
      a{
        color: $primary-color;
        border: solid 1px $primary-color;
        &:hover{
          background-color: $primary-color;
          color: $white;
        }
        img:hover{
          fill: $white;
        }
        &:before,
        &:after{
          display: none;
          background-color: $primary-color;
      }
      }


  }
    p{
      width: 50%;
      margin-left:25%;
      margin-right: 25%;
      padding: 0;
    }
  }

  @include lg {
    float: left;
    display: inline-block;
    width: 50%;
  }
}




#contact{
  color: $white;
  background-color: $light-primary-color;
  padding-bottom: 2em;

  form{
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
    label{
      display: block;
      padding-bottom: .5em;
      padding-top: .5em;
    }
    input[type="text"], input[type="email"], textarea {
      border: none;
      width: 90%;
      border-radius: .1rem;
      &:focus, &:focus{
        outline-color: $dark-primary-color;
      }
      &::placeholder {
        color: $light-text-color;
        margin-left: .5em;
      }
    }
    input[type="text"], input[type="email"]{
      height: 2em;
    }

    textarea{
      height: 11em;
    }
    button{

      text-align: center;
      padding: 1em;
      color: white;
      border: solid white 1px;
      background-color: rgba(255,255,255, .1);
      margin: 0 auto;
      align-items: center;
      color: $secondary-color;
      -webkit-transition: all .5s ease; /* Safari and Chrome */
      -moz-transition: all .5s ease; /* Firefox */
      -ms-transition: all .5s ease; /* IE 9 */
      -o-transition: all .5s ease; /* Opera */
      transition: all .5s ease;
      &:hover{
        background-color: $secondary-color;
        color: $primary-color;
      }
    }

  }

  @include lg {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
  }
}
