footer{
  text-align: center;
  background-color: $light-acent-color-two;

  h2{
    margin-top: 0;
  }

  #social-media-links-container{


    a{
      background-color: $acent-color-two;
      border-radius: 50%;
      display: inline-block;
      padding: .7em;
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 3em;
      transition: background-color .3s;
      &:hover{
        background-color: $primary-color;
      }

    }
      img{
        display: block;
        width: 25px;
    }
  }
  p{
    margin: 0;
    padding-top: 1em;
    padding-bottom: 8em;
    a{
      color: $dark-primary-color;
      transition: color .3s;
      &:hover{
        color: $acent-color-two;
      }
    }
  }
}
