/*****************************************************
Navigation
*****************************************************/
#mySideNav{

  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  ul{
    list-style: none;
    li a{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 1.5em;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover{
        color: $primary-color;
      }
      @include md{
        display: inline-block;
        font-size: 1.2em;
      }
      @include lg{
        padding-left: 2em;
        padding-right: 2em;
      }
    }
    @include md{
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
  }
  @include md{
    position: unset;
    width: unset;
    height: unset;
    overflow: unset;
    padding: 0;
    background: none;
  }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#mySideNav .closebtn{
  position: absolute;
  top: 0;
  right: .2em;
  font-size: 2.5em;
  margin-left: 50px;
  @include md{
    display: none;
    margin-right: -54px;
  }
}



#nav-icons{
  text-align: center;

  #logo{
    width: 10em;
    @include sm{
      width: 8em;
    }
    @include md{
      width: 10em;
    }
  }

  #menu-icon{
    position: fixed;
    left: 1em;
    top: .5em;
    color: rgba(0,0,0,0.7);
    cursor: pointer;
    font-size: 1.5em;
    transition: color .3s;
    &:hover{
      color: $dark-primary-color;
      font-size: 1.55em;
    }
    @include md{
      display: none;
    }

  }


}
/*
nav{
  top: 0;
  width: 100%;
  text-align: center;
  background-color: $secondary-color;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    #logo-container{
      display: block;
      padding-top: .7em;

      //media queries
      @include sm{
          display: inline-block;
          padding-right: 7.6em;
        }
      }

    }

    li{
      display: inline;
      margin-left: 10px;
      margin-right: 10px;
      margin-top:0;
      a{
        text-decoration: none;

        //media queries
        @include sm{
            font-size: 1.2em;
          }
        #logo{
          display: block;
          margin: 0 auto;
          width: 150px;

          //media queries
          @include sm{
              display: inline-block;
            }
          }
        }
        &:hover{
          color: $primary-color;
        }
      }
    }
*/
