/*****************************************************
Navigation
*****************************************************/


nav{
  //position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: $secondary-color;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    #logo-container{
      display: block;
      padding-top: .7em;

      //media queries
      @include sm{
          display: inline-block;
          padding-right: 7.6em;
        }
      }

    }

    li{
      display: inline;
      margin-left: 10px;
      margin-right: 10px;
      margin-top:0;
      a{
        text-decoration: none;

        //media queries
        @include sm{
            font-size: 1.2em;
          }
        #logo{
          display: block;
          margin: 0 auto;
          width: 150px;

          //media queries
          @include sm{
              display: inline-block;
            }
          }
        }
        &:hover{
          color: $primary-color;
        }
      }
    }
